* {
margin:0;
padding:0;
box-sizing: border-box;
}

.background {
    position: relative;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(./);
    background-position: top left 15%;
    background-color: orange;
    height:100px;
    width: 200px;
}

.main {
    position:relative;
    top: -50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    background-color: darkblue;
    padding:.5rem;
    max-width: 200px;
}

.flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.hours {
    font-size: 4rem;
}